@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: #fff;
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
  color: #00A1AB;
  font-weight: bold; 
  font-style: italic; 
  font-size: 30px;
}
  
  .news-group {
    margin-top: 20px;
    justify-content: center;
  }
  
  .news-title {
    font-family: "Poppins-SemiBold", Helvetica;
    color: #00a0ab;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0; 
    text-align: center;
  }
  
  .news-tagline {
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 10px; 
  }
  
  .card-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 450px 450px 450px;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 70px
  }
  
  .card {
    justify-content: center;
    width: 450px;
    height: 420px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
  }
  
  
  .card-description {
    text-align: justify;
    padding: 15px;
    font-size: 16px;
    color: #333;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
  }
  
  .card a {
    display: block;
    text-align: center;
    background-color: #00A1AB;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .card a:hover {
    background-color: white;
    color: #00A1AB;
  }
  
  footer {
    height: 40px;
    background-color: #00a0ab;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}


  @media only screen and (max-width: 768px) {
    .nav-menu {
        z-index: 900;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #B4B1A5;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        opacity: 80%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
        left: 0;
    }
  
    .nav-item {
        margin: 2.5rem 0;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        margin: 15px;
      }
  
      .card {
        width: 100%;
        height: 100%;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
        border-radius: 8px; 
      }   
  
    footer {
        height: 40px;
        background-color: #00a0ab;
        color: #fff;
        padding: 10px;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
  
  
  }
  
  
  @keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
  }
  
  
  