@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: #fff;
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
  color: #00A1AB;
  font-weight: bold; 
  font-style: italic; 
  font-size: 30px;
}
    
    .search-title {
      font-family: "Poppins-SemiBold", Helvetica;
      color: #00a0ab;
      font-size: 36px;
      letter-spacing: 0;
      line-height: normal;
      margin: 30px auto 0;
      text-align: center;
    }
    
    .search-tagline {
      font-family: "Poppins-Regular", Helvetica;
      color: #000000;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      margin-top: 10px; 
    }
  
    .container {
        position: relative;
        margin: 50px auto 70px auto;
        width: 400px;
        height: 105px;
        background: #00A1AB;
        padding: 28px 32px;
        border-radius: 18px;
        font-family: "Poppins-Regular", Helvetica;
        transition: 0.6s ease-out;
        flex-direction: column;
    }
    

.location {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location input {
    color: #fff;
    background-color: #00A1AB;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.location input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: #183D3D;
    text-transform: capitalize;
}

.location button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06383D;
    background: #fff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.location button:hover{
    color: #fff;
    background: #06383D;
}

.location i {
    position: absolute;
    color: #06383D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 70%;
    margin-top: 30px;
}

.weather-box .suhu{
    position: relative;
    color: #06383D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .suhu span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .deskripsi{
    color: #06383D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06383D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06383D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06383D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06383D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

footer {
    height: 40px;
    background-color: #00a0ab;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  

@media only screen and (max-width: 768px) {
    .nav-menu {
        z-index: 900;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #B4B1A5;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        opacity: 80%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .container {
        position: relative;
        margin: 50px auto 70px auto;
        width: 315px;
        height: 105px;
        background: #00A1AB;
        padding: 28px 32px;
        border-radius: 18px;
        font-family: "Poppins-Regular", Helvetica;
        transition: 0.6s ease-out;
        flex-direction: column;
    }

    footer {
        height: 40px;
        background-color: #00a0ab;
        color: #fff;
        padding: 10px;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
    }


}
  

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}
  