*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #C5FFF8;
}


.app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
  
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
  
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
  
  .app-bar .app-bar__brand h1 {
    color: #00A1AB;
    text-transform: none;
    font-size: 18px;
    user-select: none;
  }
  
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }
  
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
  
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
  }
    
    .search-title {
      font-family: "Poppins-SemiBold", Helvetica;
      color: #00a0ab;
      font-size: 36px;
      letter-spacing: 0;
      line-height: normal;
      margin: 30px auto 0;
      text-align: center;
    }
    
    .search-tagline {
      font-family: "Poppins-Regular", Helvetica;
      color: #000000;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      margin-top: 10px; 
    }
  
    .container {
        position: relative;
        margin: 50px auto 0;
        width: 400px;
        height: 105px;
        background: #fff;
        padding: 28px 32px;
        border-radius: 18px;
        font-family: "Poppins-Regular", Helvetica;
        transition: 0.6s ease-out;
        flex-direction: column;
    }
    

.location{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location input{
    color: #06383D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.location input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06383D;
    text-transform: capitalize;
}

.location button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06383D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.location button:hover{
    color: #fff;
    background: #06383D;
}

.location i{
    position: absolute;
    color: #06383D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 70%;
    margin-top: 30px;
}

.weather-box .suhu{
    position: relative;
    color: #06383D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .suhu span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .deskripsi{
    color: #06383D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06383D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06383D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06383D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06383D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

.about-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  