@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: #fff;
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
  color: #00A1AB;
  font-weight: bold; 
  font-style: italic; 
  font-size: 30px;
}


/*
  Jumbotron
  */

  .jumbotron {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url("../assets/images/background-weatrack.jpg");
    background-position: center;
    background-size: cover;
    border: 15px;
    z-index: 1;
  }
  
  .jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: -1;
  } 
  
  
  .jumbotron .jumbotron-inner {
    position: relative;
    z-index: 2;
    margin: -120px 20px 0 200px; 
    text-align: left; 
  }
  
  .jumbotron-inner {
    max-width: 800px;
  }
  
  .jumbotron-title {
    color: #00A1AB;
    font-weight: bold; 
    font-style: italic; 
    font-size: 50px;
  }
  
  .jumbotron-text {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
  }

  .get-started-button {
    background-color: #00A1AB;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .get-started-button:hover {
    background-color: white;
    color: #00A1AB;
  }
  
  .illustration-image {
    max-width: 15%; 
    height: auto;
    position: absolute;
    top: 40%; 
    right: 180px; 
    transform: translateY(-50%); 
  }
  
  .news-group {
    position: absolute;
    width: 527px;
    height: 125px;
    top: 800px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .news-title {
    font-family: "Poppins-SemiBold", Helvetica;
    color: #00a0ab;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0; 
    text-align: center;
  }
  
  .news-tagline {
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 10px; 
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    max-width: 400px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
  }
  
  
  .card-description {
    text-align: justify;
    padding: 15px;
    font-size: 16px;
    color: #333;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
  }
  
  .card a {
    display: block;
    text-align: center;
    background-color: #00A1AB;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .card a:hover {
    background-color: white;
    color: #00A1AB;
  }
  
  .search-group {
    position: absolute;
    width: 527px;
    height: 125px;
    top: 1900px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .search-title {
    font-family: "Poppins-SemiBold", Helvetica;
    color: #00a0ab;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0; 
    text-align: center;
  }
  
  .search-tagline {
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 10px; 
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .search-form input {
    padding: 10px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .search-form button {
    background-color: #00A1AB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
  }  
  
  .horizontal-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    margin-top: 300px;
  }

  .horizontal-card {
    flex: 0 0 auto;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .horizontal-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  .horizontal-card-description {
    padding: 15px;
    font-size: 16px;
    color: #333;
  }

  .horizontal-card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .about-group {
    position: absolute;
    width: 527px;
    height: 125px;
    top: 2500px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .about-title {
    font-family: "Poppins-SemiBold", Helvetica;
    color: #00a0ab;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0; 
    text-align: center;
  }
  
  .about-tagline {
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 10px; 
  }

  
  .about-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 200px;
  }
  
  .about {
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    border-radius: 8px; 
  }  
  
  .circular-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  footer {
    height: 40px;
    background-color: #00a0ab;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}


  @media only screen and (max-width: 768px) {
    .nav-menu {
        z-index: 900;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #B4B1A5;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        opacity: 80%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
        left: 0;
    }
  
    .nav-item {
        margin: 2.5rem 0;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
  
    footer {
        height: 40px;
        background-color: #00a0ab;
        color: #fff;
        padding: 10px;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
  
  
  }
  
  
  @keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
  }
  
  
  